.reasons {
  margin: 96px auto 0;
  padding: 0 32px;
  width: 100%;
  max-width: 65rem;
  text-align: center;

  &__header {
    max-width: 40rem;
    margin: 0 auto;
  }

  &__image-list {
    @media (max-width: 50rem) {
      .image-list__item {
        width: calc(50% - 48px);
      }
    }

    @media (max-width: 35rem) {
      justify-content: center;
      
      .image-list__item {
        width: 100%;
      }
    }
  }
}
