html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #242f51;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.preload-transitions * {
  transition: none;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  font-size: 2rem;
  font-weight: bold;
}
.nav__logo span {
  color: #fcae61;
}
.nav__list {
  display: flex;
}
.nav__link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-image: linear-gradient(to right, #fcae61, #fcae61);
  background-repeat: no-repeat;
  background-size: 0 2px;
  background-position: 0% 100%;
  transition: all 0.25s ease-out;
  transition-property: color, background-size;
}
.nav__link:hover {
  color: #fcae61;
  background-size: 100% 2px;
}
.nav__link:focus {
  color: #fcae61;
}
.nav__link:active {
  transition: none;
  color: #fc7361;
  background-image: linear-gradient(to right, #fc7361, #fc7361);
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: calc(3rem / 2);
  font-size: 1rem;
  line-height: 1rem;
  white-space: nowrap;
  transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in;
}
.button--primary {
  background-color: #2500f9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.button--primary:hover {
  background-color: #4d2eff;
  box-shadow: 0 6px 7px 1px rgba(0, 0, 0, 0.2);
}
.button--primary:focus {
  background-color: #7961ff;
}
.button--primary:active {
  background-color: rgba(121, 97, 255, 0.75);
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.15);
}
.button--text {
  font-weight: 500;
  color: #2500f9;
}
.button--text:hover {
  background-color: rgba(77, 46, 255, 0.1);
}
.button--text:focus {
  background-color: rgba(121, 97, 255, 0.2);
}
.button--text:active {
  background-color: rgba(121, 97, 255, 0.3);
}
@media (max-width: 30em) {
  .button {
    font-size: 0.875rem;
  }
}

.burger {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.burger__meat, .burger__meat::before, .burger__meat::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #242f51;
  border-radius: 2px;
}
.burger__meat {
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.15s;
}
.burger__meat::before {
  content: "";
  top: -10px;
  transition: top 0.15s ease-in-out 0.15s, transform 0.15s ease-in-out;
}
.burger__meat::after {
  content: "";
  bottom: -10px;
  transition: bottom 0.15s ease-in-out 0.15s, transform 0.15s ease-in-out;
}

.burger-control:checked + .burger .burger__meat {
  background-color: transparent;
}
.burger-control:checked + .burger .burger__meat::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.15s ease-in-out, transform 0.15s ease-in-out 0.15s;
}
.burger-control:checked + .burger .burger__meat::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.15s ease-in-out, transform 0.15s ease-in-out 0.15s;
}

.banner {
  height: 100vh;
  min-height: 550px;
  max-height: 950px;
  background: url(images/bg-buildings.png) repeat-x center bottom #fdfdfe;
}
.banner__content-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
  padding-bottom: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .banner__content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.banner__nav {
  display: flex;
  align-items: center;
}
.banner__logo {
  margin-right: auto;
}
.banner__links {
  margin-right: 16px;
}
.banner__burger {
  display: none;
}
@media (max-width: 47em) {
  .banner__burger {
    display: block;
    position: fixed;
    z-index: 3;
  }
}
.banner__main {
  padding: 32px 64px 0;
  flex: 1 1 auto;
  display: flex;
}
@media (max-width: 75em) {
  .banner__main {
    padding-left: 0;
    padding-right: 0;
  }
}
.banner__body {
  align-self: center;
  width: 50%;
  margin-right: 5%;
  max-width: 35rem;
}
.banner__image-wrapper {
  position: relative;
  width: 45%;
}
.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.banner__sticker {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 40px;
  border-radius: calc(2rem / 2);
  background-color: #e2eaed;
  font-size: 1.125em;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  /* checked icon */
  /* shine effect */
}
.banner__sticker::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fcae61;
  background-image: url(images/icons/checked.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}
@keyframes shine {
  /* nothing changes from 20% to 100%
    to make 4s delay between intervals */
  0% {
    right: -64px;
  }
  20% {
    right: calc(100% + 64px);
  }
  100% {
    right: calc(100% + 64px);
  }
}
.banner__sticker::after {
  content: "";
  position: absolute;
  right: -64px;
  width: 48px;
  height: 2rem;
  transform: skewX(-25deg);
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shine;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.banner__heading {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.3;
}
.banner__text {
  margin: 16px 0 32px;
  font-size: 1.125em;
}
.banner__demo-button {
  margin: 8px;
}
@media (max-width: 58em) {
  .banner__body {
    width: 60%;
    margin-right: 3%;
  }
  .banner__image-wrapper {
    width: 37%;
  }
  .banner__header-button {
    display: none;
  }
  .banner__links {
    margin: 0;
  }
}
@media (max-width: 50em) {
  .banner__body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .banner__image-wrapper {
    display: none;
  }
}
@media (max-width: 47em) {
  .banner__logo {
    margin: 0 auto;
  }
  #burger:checked ~ .banner__links {
    transform: translateX(0);
  }
  .banner__links {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-left: 32px;
    padding-right: 32px;
    width: 24rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 47em) and (max-width: 37.5em) {
  .banner__links {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 47em) {
  .banner__links .nav__list {
    flex-direction: column;
  }
  .banner__links .nav__item {
    margin: 16px 0;
  }
  .banner__links .nav__link {
    padding-left: 0;
  }
}
@media (max-width: 37.5em) {
  .banner__content-wrapper {
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .banner__body {
    font-size: 0.875rem;
    max-width: 28rem;
  }
  .banner__heading {
    font-size: 3em;
  }
  .banner__links {
    width: 100%;
  }
}
@media (max-width: 25rem) {
  .banner__body {
    font-size: 0.75rem;
  }
}
