html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #242f51;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.content-wrapper {
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
}

.nav__logo {
  font-size: 2rem;
  font-weight: bold;
}
.nav__logo span {
  color: #fcae61;
}
.nav__list {
  display: flex;
}
.nav__link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-image: linear-gradient(to right, #fcae61, #fcae61);
  background-repeat: no-repeat;
  background-size: 0 2px;
  background-position: 0% 100%;
  transition: all 0.25s ease-out;
  transition-property: color, background-size;
}
.nav__link:hover {
  color: #fcae61;
  background-size: 100% 2px;
}
.nav__link:focus {
  color: #fcae61;
}
.nav__link:active {
  transition: none;
  color: #fc7361;
  background-image: linear-gradient(to right, #fc7361, #fc7361);
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: calc(3rem / 2);
  font-size: 1rem;
  line-height: 1rem;
  white-space: nowrap;
  transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in;
}
.button--primary {
  background-color: #2500f9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.button--primary:hover {
  background-color: #4d2eff;
  box-shadow: 0 6px 7px 1px rgba(0, 0, 0, 0.2);
}
.button--primary:focus {
  background-color: #7961ff;
}
.button--primary:active {
  background-color: rgba(121, 97, 255, 0.75);
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.15);
}
.button--text {
  font-weight: 500;
  color: #2500f9;
}
.button--text:hover {
  background-color: rgba(77, 46, 255, 0.1);
}
.button--text:focus {
  background-color: rgba(121, 97, 255, 0.2);
}
.button--text:active {
  background-color: rgba(121, 97, 255, 0.3);
}

.banner {
  height: 100vh;
  max-height: 950px;
  background: url(images/bg-buildings.png) repeat-x center bottom #fdfdfe;
}
.banner__content-wrapper {
  height: 100%;
  padding-top: 48px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.banner__nav {
  display: flex;
  align-items: center;
}
.banner__logo {
  margin-right: auto;
}
.banner__links {
  margin-right: 16px;
}
.banner__main {
  margin: 32px 64px 0;
  flex: 1 1 auto;
  display: flex;
}
@media (max-width: 1200px) {
  .banner__main {
    margin-left: 0;
    margin-right: 0;
  }
}
.banner__body {
  align-self: center;
  width: 50%;
  margin-right: 5%;
  max-width: 560px;
}
.banner__image-wrapper {
  position: relative;
  width: 45%;
}
.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.banner__sticker {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 40px;
  border-radius: calc(2rem / 2);
  background-color: #e2eaed;
  font-size: 1.125rem;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  /* checked icon */
  /* shine effect */
}
.banner__sticker::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fcae61;
  background-image: url(images/icons/checked.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}
@keyframes shine {
  /* nothing changes from 20% to 100%
    to make 4s delay between intervals */
  0% {
    right: -64px;
  }
  20% {
    right: calc(100% + 64px);
  }
  100% {
    right: calc(100% + 64px);
  }
}
.banner__sticker::after {
  content: "";
  position: absolute;
  right: -64px;
  width: 48px;
  height: 2rem;
  transform: skewX(-25deg);
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shine;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.banner__heading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.8rem;
}
.banner__text {
  margin: 16px 0 32px;
  font-size: 1.125rem;
}
.banner__demo-button {
  margin-left: 8px;
}
@media (max-width: 925px) {
  .banner__body {
    width: 60%;
    margin-right: 3%;
  }
  .banner__image-wrapper {
    width: 37%;
  }
  .banner__header-button {
    display: none;
  }
  .banner__links {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .banner__body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .banner__image-wrapper {
    display: none;
  }
}
@media (max-width: 750px) {
  .banner__logo {
    margin: 0 auto;
  }
  .banner__links {
    display: none;
  }
}
