$colors: #ffecef, #eaf9ff, #fff6d3, #e4ffee, #f4f4ff, #fdeee4;
$colors3: $red, $blue-ribbon, $green;

@mixin vertical-image-list {
  flex-direction: column;

  .image-list__img-wrapper {
    margin: 0;
    flex: none;
  }

  .image-list__item {
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin: 0;
  }

  .image-list__item-body {
    margin-left: 24px;
  }
}

.image-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  &__heading {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  &__img-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  @each $c in $colors {
    $i: index($colors, $c);
    .image-list__item:nth-of-type(#{$i}) {
      .image-list__img-wrapper {
        background-color: $c;
      }
    }
  }

  &__item {
    margin: 0 32px;
  }

  &--vertical {
    @include vertical-image-list;
  }

  &--color3 {
    @each $c in $colors3 {
      $i: index($colors3, $c);
      .image-list__item:nth-of-type(#{$i}) {
        .image-list__img-wrapper {
          background-color: rgba($c, 0.1);
        }
        
        .image-list__heading {
          color: $c;
        }
      }
    }
  }

  &--grid {
    flex-wrap: wrap;

    .image-list__item {
      width: calc(33% - 48px);
      max-width: 16rem;
      margin: 24px;
    }
  }

  &--centered {
    .image-list__img-wrapper {
      margin-left: auto;
      margin-right: auto;
    };
  }

  @media (max-width: 25rem) {
    &__heading {
      font-size: 1rem;
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}
