$font: 'Poppins', sans-serif;

$orange: #fcae61;
$red: #f55767;

$blue: #2500f9;
$blue-hover: #4d2eff;
$blue-focus: #7961ff;
$blue-dark: #242f51;

$blue-ribbon: #2563ff;

$green: #40975f;

$gray-white: #fdfdfe;
$gray-light: #e2eaed;
$gray-border: #b9b9b8;
$gray: #616368;
